body {
  font-family: "Roboto", sans-serif;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

/* button */
button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.main {
  margin-top: 20px;
}
